<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tC_3_Ajio.Ajio_Test"/>
      <class name="testCases.Login_Test"/>
      <class name="tC_2_AbhiBus.AbhiBus_Offers_Test"/>
      <class name="tC_4_NoBroker.NoBroker_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
